
body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #000000;
    font-family: Arial, sans-serif;
}
.titile h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15rem;
    color: rgb(106, 255, 0);

}
.titile h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(106, 255, 0);
}
.titile h2 a{
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(106, 255, 0);
}


.stopwatch {
    text-align:right;

    padding: 20px;
    margin-left: 1.5ch;
    background-color: #000000;

    border-radius: 20px;
    box-shadow: 0 0 20px rgb(128, 255, 0);
}
.display {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(106, 255, 0);
    font-family: DM Mono, sans-serif;
}

.controls button {
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background: #000000;
    color: rgb(106, 255, 0);
    border-radius: 20px;
    cursor: pointer;
}

.controls button:hover {
    background: rgb(106, 255, 0);
    color: rgb(0, 0, 0);
    

}

.laps {
    margin-top: 20px;
    text-align: center;
    color: rgb(106, 255, 0);
    font-family: DM Mono, sans-serif;
}

.laps ul {
    list-style-type:none;
    padding: 0;
}

.laps li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}


@media (max-width:991px) {
    html{
        font-size: 55%;
    
    }


   body{
        padding: 2rem;
    }
}



@media (max-width:768px){

    .titile h1{
        font-size: 4rem;
    }
    .stopwatch {
        font-size: 1.2em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 5px;
        padding: 10px 20px;
        border: none;
        background: #000000;
        color: rgb(106, 255, 0);
        border-radius: 20px;
        cursor: pointer;

    }
    .display{
        font-size: 1em;
    }
    .laps {
        font-size: 1em;
    }
    .controls button {
        font-size: 1em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 5px;
        padding: 5px 10px;
        border: none;
        background: #000000;
        color: rgb(106, 255, 0);
        border-radius: 20px;
        cursor: pointer;
    }
    .controls button:hover {
        background: rgb(106, 255, 0);
        color: rgb(0, 0, 0);
        
    
    }
    
}